<!--begin::Sidebar Brand-->
<div class="sidebar-brand">
    <!--begin::Brand Link-->
    <a class='brand-link' href='/dist/pages/'>
        <!--begin::Brand Image-->
        <!-- <img src="assets/adminlte/assets/img/AdminLTELogo.png" alt="AdminLTE Logo"

            class="brand-image opacity-75 shadow" /> -->
        <img src="https://www.eyesillusion.com/img/logo-1655315866.jpg" alt="Citas Gestión" class="brand-image opacity-75 shadow">
        <!--end::Brand Image-->
        <!--begin::Brand Text-->
        <!-- <span class="brand-text fw-light">AdminLTE 4</span> -->
        <!--end::Brand Text-->
    </a>
    <!--end::Brand Link-->
</div>
<!--end::Sidebar Brand-->
<!--begin::Sidebar Wrapper-->
<div class="sidebar-wrapper">
    <nav class="mt-2">
        <!--begin::Sidebar Menu-->
        <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
            @for (item of menus; track $index) {
            <li class="nav-item has-treeview">

                <a href="#" class="nav-link" (click)="toggleMenu($event)">
                    <i class="nav-icon bi bi-list"></i>
                    <p>
                        {{item.menu_name}}
                        <i class="nav-arrow bi bi-chevron-right"></i> <!-- Ícono dinámico -->
                    </p>
                </a>

                <ul class="nav nav-treeview" style="display: none;">
                    @for (menuItems of item.submenus; track $index) {
                        <li class="nav-item">
                            <a [routerLink]="['/'+ menuItems.url_menu]" routerLinkActive="active" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                {{menuItems.sub_menu_name }}
                            </a>
                        </li>
                    }

                  </ul>

            </li>
            }


            <!-- <li class="nav-item menu-open">
                <a href="#" class="nav-link active">
                    <i class="nav-icon bi bi-speedometer"></i>
                    <p>
                        Dashboard
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class='nav-link active' href='/dist/pages/'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Dashboard v1</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/index2'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Dashboard v2</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/index3'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Dashboard v3</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class='nav-link' href='/dist/pages/generate/theme'>
                    <i class="nav-icon bi bi-palette"></i>
                    <p>Theme Generate</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-box-seam-fill"></i>
                    <p>
                        Widgets
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/widgets/small-box'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Small Box</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/widgets/info-box'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>info Box</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/widgets/cards'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Cards</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-clipboard-fill"></i>
                    <p>
                        Layout Options
                        <span class="nav-badge badge text-bg-secondary me-3">6</span>
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/layout/unfixed-sidebar'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Default Sidebar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/layout/fixed-sidebar'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Fixed Sidebar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/layout/fixed-header'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Fixed Header</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/layout/fixed-footer'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Fixed Footer</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/layout/fixed-complete'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Fixed Complete</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/layout/layout-custom-area'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Layout <small>+ Custom Area </small></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/layout/sidebar-mini'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Sidebar Mini</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/layout/collapsed-sidebar'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Sidebar Mini <small>+ Collapsed</small></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/layout/logo-switch'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Sidebar Mini <small>+ Logo Switch</small></p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/layout/layout-rtl'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Layout RTL</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-tree-fill"></i>
                    <p>
                        UI Elements
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/ui/general'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>General</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/ui/icons'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Icons</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/ui/timeline'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Timeline</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-pencil-square"></i>
                    <p>
                        Forms
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/forms/general'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>General Elements</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-table"></i>
                    <p>
                        Tables
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/tables/simple'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Simple Tables</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-header">EXAMPLES</li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-box-arrow-in-right"></i>
                    <p>
                        Auth
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-box-arrow-in-right"></i>
                            <p>
                                Version 1
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class='nav-link' href='/dist/pages/examples/login'>
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Login</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class='nav-link' href='/dist/pages/examples/register'>
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Register</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-box-arrow-in-right"></i>
                            <p>
                                Version 2
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a class='nav-link' href='/dist/pages/examples/login-v2'>
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Login</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class='nav-link' href='/dist/pages/examples/register-v2'>
                                    <i class="nav-icon bi bi-circle"></i>
                                    <p>Register</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/examples/lockscreen'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Lockscreen</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-header">DOCUMENTATIONS</li>
            <li class="nav-item">
                <a class='nav-link' href='/dist/pages/docs/introduction'>
                    <i class="nav-icon bi bi-download"></i>
                    <p>Installation</p>
                </a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href='/dist/pages/docs/layout'>
                    <i class="nav-icon bi bi-grip-horizontal"></i>
                    <p>Layout</p>
                </a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href='/dist/pages/docs/color-mode'>
                    <i class="nav-icon bi bi-star-half"></i>
                    <p>Color Mode</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-ui-checks-grid"></i>
                    <p>
                        Components
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/docs/components/main-header'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Main Header</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/docs/components/main-sidebar'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Main Sidebar</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-filetype-js"></i>
                    <p>
                        Javascript
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a class='nav-link' href='/dist/pages/docs/javascript/treeview'>
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Treeview</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class='nav-link' href='/dist/pages/docs/browser-support'>
                    <i class="nav-icon bi bi-browser-edge"></i>
                    <p>Browser Support</p>
                </a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href='/dist/pages/docs/how-to-contribute'>
                    <i class="nav-icon bi bi-hand-thumbs-up-fill"></i>
                    <p>How To Contribute</p>
                </a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href='/dist/pages/docs/faq'>
                    <i class="nav-icon bi bi-question-circle-fill"></i>
                    <p>FAQ</p>
                </a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href='/dist/pages/docs/license'>
                    <i class="nav-icon bi bi-patch-check-fill"></i>
                    <p>License</p>
                </a>
            </li>
            <li class="nav-header">MULTI LEVEL EXAMPLE</li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle-fill"></i>
                    <p>Level 1</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle-fill"></i>
                    <p>
                        Level 1
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Level 2</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>
                                Level 2
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Level 3</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Level 3</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Level 3</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Level 2</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle-fill"></i>
                    <p>Level 1</p>
                </a>
            </li>
            <li class="nav-header">LABELS</li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle text-danger"></i>
                    <p class="text">Important</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle text-warning"></i>
                    <p>Warning</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle text-info"></i>
                    <p>Informational</p>
                </a>
            </li> -->
        </ul>
        <!--end::Sidebar Menu-->
    </nav>
</div>
<!--end::Sidebar Wrapper-->