<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">Gestión de Locales</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Locales</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Gestión de Locales</li>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->

<div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="card-title">Lista de Locales</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Descripción</th>
                                <th>Correo</th>
                                <th>Dirección</th>
                                <th>Celular</th>
                                <th>Creador</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let local of listLocales; let i = index">
                                <tr class="align-middle">
                                    <td>{{ local?.id }}</td>
                                    <td>{{ local?.descripcion }}</td>
                                    <td>{{ local?.correo }}</td>
                                    <td>{{ local?.direccion }}</td>
                                    <td>{{ local?.celular }}</td>
                                    <td>{{ local?.creador }}</td>
                                    <td>
                                        <span [ngClass]="local?.estado ? 'btn btn-success' : 'btn btn-warning'">
                                            {{ local?.estado ? 'Activo' : 'Inactivo' }}
                                          </span>
                                    </td>
                            
                                </tr>
                            </ng-container>
                        </tbody>


                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-end">
                        <li class="page-item"><a class="page-link" href="#">«</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--end::Row-->
</div>